html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("http://i.stack.imgur.com/wN3s7.png");
    background-repeat: no-repeat;
    background-position: -500px -200px;
}

h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
button {
	background-color:#28b839;
	cursor: pointer;
	border-radius: 30px;
	border:1px solid;
	display:inline-block;	
	color:#ffffff;
	font-family:Arial;
	padding:10px 15px;
	text-decoration:none;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 12px;
	
}
 ul {
 	font-size: 18px;
 	list-style-type:circle;
 	font-family: monospace;
 }

 input {
 	background: #fcfff4;
  background: linear-gradient;
 }

  